<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container w-100 py-2">
  <div class="row">

    <div class="d-flex align-items-center justify-content-end my-3 mb-3">
      <button type="button" class="btn btn-primary me-2 w-25" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-bs-whatever="@getbootstrap">Add</button>
    </div>
    <div class="w-100 px-3 pb-3">
      <table class="text-center table-bordered border-primary w-100">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Catergory</th>
          <th>Image</th>
          <th>Buttons</th>
        </thead>
        <tr *ngFor="let product of products" class="g-2">
          <td class="py-4">{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.cat_Name}}</td>
          <td><img [src]="product.imageSrc" alt="" width="50px" height="50px"></td>
          <td>
            <button class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#exampleModal2"
              data-bs-whatever="@getbootstrap" (click)="getupdatedata(product.id)">Edit</button>
            <button class="btn btn-danger" (click)="Deleteproduct(product.id)">Delete</button>

          </td>
        </tr>
      </table>
    </div>

    <!-- Add form -->

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="uploadForm" (ngSubmit)="submitForm()">

              <div class="mb-3 ">
                <input class="form-control form-control-lg" placeholder="Name" formControlName="Name">
              </div>

              <div class="mb-3">
                <input class="form-control form-control-lg" placeholder="Description" formControlName="Description">
              </div>

              <div class="mb-3">
                <input class="form-control form-control-lg" placeholder="Price" formControlName="Price">
              </div>

              <div class="mb-3">
                <!-- <input class="form-control form-control-lg" placeholder="Cat_ID" formControlName="Cat_ID"> -->

                <select class="form-select" aria-label="Default select example" formControlName="Cat_ID">
                  <option *ngFor="let item of productscategory" [value]="item.id">{{item.name}}</option>

                </select>
              </div>

              <div class="mb-3">
                <input type="file" class="form-control form-control-lg" (change)="uploadFile($event)">
              </div>

              <div class="w-100">
                <button class=" w-100 btn btn-primary ">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="updateForm" (ngSubmit)="update()" *ngIf="dataforupdate != null">

              <div class="mb-3 ">
                <input class="form-control form-control-lg" placeholder="Name" formControlName="Name">
              </div>

              <div class="mb-3">
                <input class="form-control form-control-lg" placeholder="Description" formControlName="Description">
              </div>

              <div class="mb-3">
                <input class="form-control form-control-lg" placeholder="Price" formControlName="Price">
              </div>

              <div class="mb-3">
                <!-- <input class="form-control form-control-lg" placeholder="Cat_ID" formControlName="Cat_ID"> -->
                <select class="form-select" aria-label="Default select example" formControlName="Cat_ID">
                  <option *ngFor="let item of productscategory" [value]="item.id">{{item.name}}</option>

                </select>

              </div>

              <div class="mb-3">
                <input type="file" class="form-control form-control-lg" (change)="updateile($event)">
              </div>

              <div class="w-100">
                <button class=" w-100 btn btn-primary ">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
